.float-up {
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  background-color: white;
  border-radius: 5px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  font-family: "Playfair Display", serif;
}
.item1 {
  grid-area: suit;
  background-image: url("../../../public/suit.webp");
  background-size: cover;
  background-position: center;
}
.item2 {
  grid-area: shirt;
  background-image: url("../../../public/shirt.webp");
  background-size: cover;
  background-position: center;
}
.item3 {
  grid-area: trouser;
  background-image: url("../../../public/trouser.webp");
  background-size: cover;
  background-position: center;
}
.item4 {
  grid-area: vest;
  background-image: url("../../../public/vest.jpg");
  background-size: cover;
  background-position: center;
}
.item5 {
  grid-area: jacket;
  background-image: url("../../../public/jacket.webp");
  background-size: cover;
  background-position: center;
}
.item6 {
  grid-area: blazer;
  background-image: url("../../../public/blazer.jpg");
  background-size: cover;
  background-position: center;
}
.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  @media (min-width: 320px) and (max-width: 639px) {
    flex-grow: 1;
  }
}

.product-type {
  /* background-color: blueviolet; */
  width: 100%;
  height: 800px;
  display: grid;
  grid-template-areas: "suit suit shirt trouser blazer" "suit suit vest jacket blazer";

  @media (min-width: 320px) and (max-width: 639px) {
    display: flex;
    flex-direction: column;
    height: 1500px;
  }
}
